*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(16, 16, 16);

    color: white;
    
}

.top_img {
    background: url(threads.avif);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    display: block;
}



.threads_img{
   width: 1250px;
}

/* .top_img{
    margin: auto 0;
    max-width: 400px;
} */

.container{
    text-align: center;
    max-width: 350px;
    margin: 0 auto;
    width: 90%;
    margin-top: 200px;

}

.title{
    font-size: 14px;
    color: white;
    font-weight: bold;
    margin-bottom: 25px;
}

.login_box{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input{
    background-color: rgb(30,30,30);
    border: none;
    padding: 22px;
    border-radius: 8px;
    color: bisque;
    font-size: 14px;


}

.login_btn{
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 22px;
    border-radius: 8px;
    color: black;
    font-size: 14px;
}

.forgot{
    text-decoration: none;
    color: gray;
    font-size: 13px;
    margin-top: 15px;
}

.divider{
    color: gray;

}

.continue_btn{
    display: flex;
    align-items: center;
    border: 1px solid darkslategrey;
    border-radius: 12px;
    gap: 12px;
    cursor: pointer;
    transition: 8ms;
    margin-top: 10px;
    justify-content: space-between;
    padding: 12px;
}

.logo_img{
    width: 50px;
    margin-bottom: 10px;
}

.logo_img_container{
    display: none;
}

.continue_btn:hover{
    background: #252525;

}

.ig_icon{
    width: 55px;
    height: 55px;
    border-radius: 8px;
    object-fit: contain;
    
}

.continue_txt{
    color: white;
    font-weight: medium;
    font-size: 14px;
}

.arrow{
    color: grey;
}

.qr_box{
    position: fixed;
    right: 30px;
    bottom: 30px;
    text-align: center;
    font-size: 13px;
    color: gray;
    display: block;
}

.qr_img{
    width :150px;
}

.footer{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin: 100px auto;
    width: 90%;
    color: gray;
    font-size: 12px;
}

.footer a{
    color: gray;
    text-decoration: none;
}

.footer a:hover{
    color: gray;
    text-decoration: underline;
}

@media(max-width: 768px) 
{
.top_img{
    display: none;
}
.qr_box{
    display: none;
}
.logo_img_container{
    display: block;
}
}
